:root {
  --game-scale: 2;
}

@font-face {
  font-family: "AvantGardeRegular";
  src: url(fonts/AvantGarde_regular.ttf) format("truetype");
}

@font-face {
  font-family: "AvantGardeBold";
  src: url(fonts/AvantGarde_bold.ttf) format("truetype");
}

body {
  text-align: center;
  background-color: #fff;
  color: #032d60;
}

.max-img-background{
  position: absolute;
  right: -2px;
  top: 20%;
  width: 20%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: -1;
}

.max2-img-background{
  position: absolute;
  left: 0px;
  top: 50%;
  width: 20%;
  z-index: -1;
}

.boldFont {
  font-family: AvantGardeBold;
}

.mainContainer {
  position: relative;
}

.light-top-gradient {
  background: linear-gradient(180deg, #e9f7ff 0, #fff 100%);
  line-height: 30px;
}

.topscorer-top-gradient {
  background: linear-gradient(180deg, #fcc003 0, #fff 100%);
  line-height: 30px;
}

.titleContainer {
  font-family: AvantGardeBold;
  font-size: 48px;
  padding-top: 20px;
  padding-bottom: 15px;
}


/* GAME BOARD STYLES */
#gameContainer {
  /*
	width and height of .gameBoardPixel should 1/40 of the width and height of #gameContainer,
	because it is used in calculation in the jscript.js file
	*/
  position: relative;
  width: calc(20vw * var(--game-scale));
  height: calc(20vw * var(--game-scale));
  margin: 1vw auto;
  background-color: #fff;
  border: solid 5px #032d60;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

#gameContainer > #foodTable {
  position: absolute;
}

.gameBoardPixel {
  /* background-color: slategrey; */
  /*
	width and height of .gameBoardPixel should 1/40 of the width and height of #gameContainer,
	because it is used in calculation in the jscript.js file
	*/
  width: calc(1vw * var(--game-scale));
  height: calc(1vw * var(--game-scale));
  /* border-radius: 10px; */
  float: left;
}
/* GAME BOARD STYLES END*/

/* SNAKE STYLES */
.snakeBodyPixel {
  background-image: url("images/mule_icon.svg");
  background-size: contain;
  /* background-color: #fd6401; */
  /* filter: drop-shadow(0px 0px 3px #e9f7ff); */
}
/* SNAKE STYLES END*/

/* FOOD STYLES */
.food {
  background-image: url("images/sap.png");
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  /* background-color: #68e768; */
}

#foodTable{
  background-color: #e9f7ff;
  border-radius: 5px;
  padding: 10px;
  right: -4.5vw;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: -1;
  border: solid 5px #032d60;
}

.foodTableElement {
  display: flex;
  height: calc(1vw * var(--game-scale) * 0.75);
  width: calc(1vw * var(--game-scale) * 0.75);
  object-fit: contain;
  margin: 5px;
  margin-left: 20px;
}

.eatenFood {
  filter: grayscale(1) drop-shadow(0px 0px 3px #fcc003);
}
/* FOOD STYLES END*/

/* SCORE STYLES */
#scoreContainer {
  width: 40vw;
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.scoreBoard {
  border-radius: 10px;
  border: solid 5px #032d60;
  color: #0c1021;
  background-color: #fff;
  display: inline-block;
  /* padding: 1vw; */
  width: 30%;
  min-width: 16vw;
  font-family: AvantGardeBold;
  -webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3);
}
/* SCORE STYLES END */

/* Hide #onScreenControllers on desktop */
/* #onScreenControllers {
  display: none;
} */

.developerDetails {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  color: #0c1021;
  font-family: AvantGardeRegular;
}

.developerDetails a {
  color: #0c1021;
}

button:focus {
  outline: solid 2px lightblue;
  border-radius: 2px;
}

dialog {
  display: block;
  font-family: AvantGardeRegular;
  inset: 0;
  z-index: var(--layer-important);
  max-inline-size: min(90vw, var(--size-content-3));
  max-block-size: min(80vh, 100%);
  overflow: hidden;
  transition: opacity .5s;
  animation: var(--animation-scale-down) forwards;
  animation-timing-function: var(--ease-squish-3);
  border-radius: 0.5rem;
  padding: 0;
  border: 0;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
}

dialog[open] {
  animation: var(--animation-slide-in-up) forwards;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
backdrop-filter: blur(0.25rem);
}

dialog article {
  padding: 0 2rem;
}

dialog header {
  font-family: AvantGardeBold;
  color: #fff;
  margin: 0;
  background-color: #032d60;
  padding: 1rem 2rem;
}

dialog footer {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}

dialog header h3 {
  margin: 0;
}

button {
  background-color: #032d60; /* Green */
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 15px;
  padding-bottom: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: AvantGardeBold;
  font-size: 16px;
}

#gameOverText {
  font-family: AvantGardeBold;
}

.joinLeaderboardText{
  margin-bottom: -6px;
  padding-left: 12px;
  text-align: left;
  padding-top: 1em;
  border-top: thin solid black;
}

#submitButton {
  font-size: 14px;
  padding: 6px;
  background-color: #fff;
  color: #032d60;
  border: thin solid #032d60;
  margin: 12px;
  width: 100px;
}

#leaderboardTable {
  padding-top: 16px;
  width: 500px;
  text-align: right;
}

input {
  /* border-radius: 4px; */
  margin: 12px;
  padding: 6px;
  font-size: 14px;
  font-family: AvantGardeRegular;
}

#emailInput{
  width: 250px;
}

#errorLeaderboardText {
  font-size: 12px;
  color: red;
  text-align: left;
  margin-left: 14px;
  margin-top: -14px;
}

/* MOBILE */
/* @media only screen and (max-width: 768px) {
  #gameContainer {
    width: 80vw;
    height: 80vw;
  }

  .gameBoardPixel {
    width: 2vw;
    height: 2vw;
  }

  #scoreContainer {
    width: 80vw;
  }

  #onScreenControllers {
    width: 80vw;
    margin: 5vw auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #onScreenControllers > div {
    display: flex;
    flex-direction: column;
  }

  #onScreenControllers button {
    background-color: transparent;
    height: 20vw;
    width: 20vw;
    font-size: 10vw;
    border: none;
  }

  #onScreenControllers button:focus {
    outline: none;
  }

  #onScreenControllers button:active {
    background-color: slategray;
  }
}
*/